.users {
    background: silver;
    border: 1px solid black;
    width: 300px;
    height: 125px;
}
.btn:hover{
    background: greenyellow;
}
.mainDiv{
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
}